{% extends "layout.html" %}

{% block body %}
<h3>Makaleler</h3>
<hr>
{% if articles %}
<form action="/search" class="blog-search-form" method="POST">
  <div class="input-group">
      <input type="text" class="form-control" name="keyword" placeholder="Makalelerde Ara">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <br>
{% for article in articles %}
        <div class="list-group">
        <a href="article/{{ article.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ article.title }}</h5>
            <small>{{ article.created_date }}</small>
          </div>
          <p class="mb-1">{{ article.content[0:160] |safe }}...</p>
          <small>{{ article.author }}</small>
        </a>
      </div>
      <hr>
      {% endfor %}
{% else %}
<div class = "alert alert-danger">
    Burada henüz makale bulunmuyor.
</div>
{% endif %}
{% endblock body %}