{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Makale Güncelle</h3>
<hr>
<form method="POST">
        {{ render_field(form.title, class= "form-control") }}
        {{ render_field(form.content, class= "form-control") }}
        <button type="submit" class="btn btn-success">Güncelle</button>   
        <script>
                CKEDITOR.replace( '{{ form.content.name }}', {
                        allowedContent: true
                }  );
        </script>
</form>

{% endblock body %}